{% autoescape off %}
Hello {{ user.get_username }},

We received a request to reset the password for your AfroPhyto account.

For your reference, your username is: {{ user.get_username }}

Please click the link below to choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you did not request this password reset, you may safely ignore this email.

Thank you for using AfroPhyto.

Best regards,  
The AfroPhyto Team
{% endautoescape %}


